/target
/lib
/classes
/checkouts
resources/css/.sass-cache
src/partial_applications/secrets.clj
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*.swp
*.swo
.DS_Store
.lein-repl-history
