.zenburn {
  background-color: #3f3f3f; }
  .zenburn p, .zenburn h1, .zenburn h2, .zenburn h3 {
    color: #dcdccc; }
  .zenburn .hex {
    color: #8cd0d3; }
  .zenburn footer {
    background-color: #353535; }
    .zenburn footer a {
      color: #dcdccc; }
  .zenburn .accent2 {
    color: #cc9393; }
  .zenburn .accent3 {
    color: #efdcbc; }
  .zenburn .on {
    background: #dcdccc; }
  .zenburn .off {
    background: #3f3f3f; }
  .zenburn a {
    text-decoration: none;
    color: #efdcbc; }
  .zenburn a:hover {
    color: #efdcbc; }
  .zenburn input {
    color: #dcdccc;
    border: 2px solid #cbcbb4;
    background-color: #353535; }
  .zenburn #order {
    background-color: #3f3f3f; }
  .zenburn #colormenu {
    background-color: #353535; }
  .zenburn #colormenu > ul > li:hover {
    background-color: #2b2b2b; }

.solarized-dark {
  background-color: #002b36; }
  .solarized-dark p, .solarized-dark h1, .solarized-dark h2, .solarized-dark h3 {
    color: #657b83; }
  .solarized-dark .hex {
    color: #2aa198; }
  .solarized-dark footer {
    background-color: #001b22; }
    .solarized-dark footer a {
      color: #657b83; }
  .solarized-dark .accent2 {
    color: #d30102; }
  .solarized-dark .accent3 {
    color: #6c71c4; }
  .solarized-dark .on {
    background: #657b83; }
  .solarized-dark .off {
    background: #002b36; }
  .solarized-dark a {
    text-decoration: none;
    color: #6c71c4; }
  .solarized-dark a:hover {
    color: #6c71c4; }
  .solarized-dark input {
    color: #657b83;
    border: 2px solid #53656c;
    background-color: #001b22; }
  .solarized-dark #order {
    background-color: #002b36; }
  .solarized-dark #colormenu {
    background-color: #001b22; }
  .solarized-dark #colormenu > ul > li:hover {
    background-color: #000b0d; }

.solarized-light {
  background-color: #fdf6e3; }
  .solarized-light p, .solarized-light h1, .solarized-light h2, .solarized-light h3 {
    color: #657b83; }
  .solarized-light .hex {
    color: #2aa198; }
  .solarized-light footer {
    background-color: #fcf0d0; }
    .solarized-light footer a {
      color: #657b83; }
  .solarized-light .accent2 {
    color: #b58900; }
  .solarized-light .accent3 {
    color: #859900; }
  .solarized-light .on {
    background: #657b83; }
  .solarized-light .off {
    background: #fdf6e3; }
  .solarized-light a {
    text-decoration: none;
    color: #859900; }
  .solarized-light a:hover {
    color: #859900; }
  .solarized-light input {
    color: #657b83;
    border: 2px solid #53656c;
    background-color: #fcf0d0; }
  .solarized-light #order {
    background-color: #fdf6e3; }
  .solarized-light #colormenu {
    background-color: #fcf0d0; }
  .solarized-light #colormenu > ul > li:hover {
    background-color: #faeabd; }

.tomorrow {
  background-color: white; }
  .tomorrow p, .tomorrow h1, .tomorrow h2, .tomorrow h3 {
    color: #4d4d4c; }
  .tomorrow .hex {
    color: #f5871f; }
  .tomorrow footer {
    background-color: whitesmoke; }
    .tomorrow footer a {
      color: #4d4d4c; }
  .tomorrow .accent2 {
    color: #8959a8; }
  .tomorrow .accent3 {
    color: #3e999f; }
  .tomorrow .on {
    background: #4d4d4c; }
  .tomorrow .off {
    background: white; }
  .tomorrow a {
    text-decoration: none;
    color: #3e999f; }
  .tomorrow a:hover {
    color: #3e999f; }
  .tomorrow input {
    color: #4d4d4c;
    border: 2px solid #383838;
    background-color: whitesmoke; }
  .tomorrow #order {
    background-color: white; }
  .tomorrow #colormenu {
    background-color: whitesmoke; }
  .tomorrow #colormenu > ul > li:hover {
    background-color: #ebebeb; }

.tomorrow-night {
  background-color: #2d2d2d; }
  .tomorrow-night p, .tomorrow-night h1, .tomorrow-night h2, .tomorrow-night h3 {
    color: #cccccc; }
  .tomorrow-night .hex {
    color: #f99157; }
  .tomorrow-night footer {
    background-color: #232323; }
    .tomorrow-night footer a {
      color: #cccccc; }
  .tomorrow-night .accent2 {
    color: #99cc99; }
  .tomorrow-night .accent3 {
    color: #6699cc; }
  .tomorrow-night .on {
    background: #cccccc; }
  .tomorrow-night .off {
    background: #2d2d2d; }
  .tomorrow-night a {
    text-decoration: none;
    color: #6699cc; }
  .tomorrow-night a:hover {
    color: #6699cc; }
  .tomorrow-night input {
    color: #cccccc;
    border: 2px solid #b8b8b8;
    background-color: #232323; }
  .tomorrow-night #order {
    background-color: #2d2d2d; }
  .tomorrow-night #colormenu {
    background-color: #232323; }
  .tomorrow-night #colormenu > ul > li:hover {
    background-color: #191919; }

.monokai {
  background-color: #111111; }
  .monokai p, .monokai h1, .monokai h2, .monokai h3 {
    color: #f8f8f2; }
  .monokai .hex {
    color: #f92672; }
  .monokai footer {
    background-color: #070707; }
    .monokai footer a {
      color: #f8f8f2; }
  .monokai .accent2 {
    color: #e6db74; }
  .monokai .accent3 {
    color: #ae81ff; }
  .monokai .on {
    background: #f8f8f2; }
  .monokai .off {
    background: #111111; }
  .monokai a {
    text-decoration: none;
    color: #ae81ff; }
  .monokai a:hover {
    color: #ae81ff; }
  .monokai input {
    color: #f8f8f2;
    border: 2px solid #eaead7;
    background-color: #070707; }
  .monokai #order {
    background-color: #111111; }
  .monokai #colormenu {
    background-color: #070707; }
  .monokai #colormenu > ul > li:hover {
    background-color: black; }
  .monokai #email-form > input {
    border: 2px solid #f8f8f2; }

body {
  font-size: 40px; }

footer {
  bottom: 24px;
  height: 32px; }

footer p {
  top: 18px; }

input {
  font-size: 18px;
  line-height: 24px; }

.statusline {
  bottom: 12px;
  font-size: 18px;
  margin-left: 12px;
  margin-right: 12px; }

#colormenu {
  font-size: 18px;
  bottom: 56px;
  right: 28px;
  margin: 0px;
  width: 200px; }
  #colormenu li {
    margin: 0px;
    height: 32px; }
  #colormenu a {
    position: relative;
    top: 4px;
    padding-left: 12px;
    margin: 0px; }
  #colormenu ul {
    padding: 0px;
    margin: 0px; }

#order {
  top: 44px;
  left: -12px;
  height: 32px; }

#order p {
  top: 0px; }

.cursor {
  top: 2px;
  width: 12px;
  height: 18px; }

.small {
  font-size: 18px; }

.large {
  margin-top: 252px; }

ul p {
  margin-bottom: 4px; }

li {
  margin-top: 36px; }

@media (min-width: 0px) and (max-width: 550px) {
  body {
    font-size: 30px; }

  footer {
    bottom: 18px;
    height: 24px; }

  footer p {
    top: 13.5px; }

  input {
    font-size: 13.5px;
    line-height: 18px; }

  .statusline {
    bottom: 9px;
    font-size: 13.5px;
    margin-left: 9px;
    margin-right: 9px; }

  #colormenu {
    font-size: 13.5px;
    bottom: 42px;
    right: 21px;
    margin: 0px;
    width: 150px; }
    #colormenu li {
      margin: 0px;
      height: 24px; }
    #colormenu a {
      position: relative;
      top: 3px;
      padding-left: 9px;
      margin: 0px; }
    #colormenu ul {
      padding: 0px;
      margin: 0px; }

  #order {
    top: 33px;
    left: -9px;
    height: 24px; }

  #order p {
    top: 0px; }

  .cursor {
    top: 1.5px;
    width: 9px;
    height: 13.5px; }

  .small {
    font-size: 13.5px; }

  .large {
    margin-top: 189px; }

  ul p {
    margin-bottom: 3px; }

  li {
    margin-top: 27px; }

  .accent2 {
    display: none; } }
@media (min-width: 550px) and (max-width: 740px) {
  body {
    font-size: 30px; }

  footer {
    bottom: 18px;
    height: 24px; }

  footer p {
    top: 13.5px; }

  input {
    font-size: 13.5px;
    line-height: 18px; }

  .statusline {
    bottom: 9px;
    font-size: 13.5px;
    margin-left: 9px;
    margin-right: 9px; }

  #colormenu {
    font-size: 13.5px;
    bottom: 42px;
    right: 21px;
    margin: 0px;
    width: 150px; }
    #colormenu li {
      margin: 0px;
      height: 24px; }
    #colormenu a {
      position: relative;
      top: 3px;
      padding-left: 9px;
      margin: 0px; }
    #colormenu ul {
      padding: 0px;
      margin: 0px; }

  #order {
    top: 33px;
    left: -9px;
    height: 24px; }

  #order p {
    top: 0px; }

  .cursor {
    top: 1.5px;
    width: 9px;
    height: 13.5px; }

  .small {
    font-size: 13.5px; }

  .large {
    margin-top: 189px; }

  ul p {
    margin-bottom: 3px; }

  li {
    margin-top: 27px; } }
body {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  font-family: "Menlo", "Monaco", Monospace; }

input {
  font-family: "Menlo", "Monaco", Monospace; }

ul {
  list-style-type: none; }

footer {
  position: fixed;
  left: 0px;
  width: 100%; }

footer p {
  position: relative;
  display: inline; }

.statusline {
  position: relative; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

#order {
  position: absolute;
  display: inline; }

#order {
  width: 100%; }

.cursor {
  position: absolute; }

.small {
  margin-top: 10%; }

.large {
  margin-top: 30%; }

.hidden {
  display: none; }

.visible {
  display: block; }

#colormenu {
  position: fixed; }

#colors:hover {
  cursor: pointer; }

.content > p > a {
  font-weight: bold; }
